@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Special+Elite&display=swap');

*{box-sizing: border-box;}
body{
    margin: 0;padding: 0;
    background-image: linear-gradient(rgba(255,255,255,1),rgba(255,255,255,1)), url(https://cdn.pixabay.com/photo/2017/08/30/19/47/background-2698331_960_720.jpg);
    background-size: cover;
    background-position: center;
}
header{
    font-family: 'Special Elite', cursive;
    display: flex;justify-content: space-evenly;align-items: center;
    width: 100%;
}
.title{font-size: 2rem;}
img{
    width: 200px;height: 200px;
    margin-top: 1rem;
    border-radius: .5rem;
}
h2, h3{font-family: 'Special Elite', cursive;}
h3{
    margin-bottom: 5px;
    color: #1a5d8d;
}
h4{margin: 0;}
li{
    list-style: none;
    color: #000000;
    font-size: 1rem;
    margin-bottom: .5rem;
}
.container{
    width: 100%;
    display: flex;
}
.container h2{color: #0000ff;}
.container span{
    color: #0000ff;
    font-weight: bold;
}
.left{
    width: 45%;
    height: 100%;
}
.profil{
    border-top: 5px solid #0000ff;
    border-bottom: 5px solid #0000ff;
}
.skills, .contact{border-bottom: 5px solid #0000ff;}
i{color: #0000ff;}
.right{
    border-left: 3px solid #0000ff;
    display: block;
    padding: 1rem;
}
.right ul{margin-top: 0.3rem;}

@media only screen and (max-width: 600px) {
    .title{
        font-size: 1rem;
    }
    img{
        width: 100px;height: 100px;
        margin-top: 0;margin-right: .5rem;
    }
    .left li {
        font-size: .7rem;
        margin-left: -1.5rem;margin-bottom: 0;
    }
    .right li{
        margin-left: -1.5rem;
    }
}
@media only screen and (min-width:600px){
    img{
        width: 150px;height: 150px;
        margin-right: 1rem;
    }
}
@media only screen and (min-width: 768px) {
    img {
        width: 200px;height: 200px;
    }
}